/* ===================================================================
  * # footer
  *
  * ------------------------------------------------------------------- */
  footer {
    padding-top: 10.2rem;
    padding-bottom: 6rem;
    font-size: 1.5rem;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
    background: #19191b;
 }
 
 footer a {
    color: #FFFFFF;
 }
 
 footer h4 {
    font-family: "metropolis-bold", sans-serif;
    font-size: 1.4rem;
    line-height: 1.286;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-bottom: 4.2rem;
    color: #FFFFFF;
    margin-top: 0;
    position: relative;
 }
 
 footer h4::after {
    content: "";
    display: block;
    height: 1px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: 0;
    bottom: 0;
 }
 
 .s-footer__main {
    margin-bottom: 3.6rem;
 }
 
 
 /* -------------------------------------------------------------------
  * ## footer link list
  * ------------------------------------------------------------------- */
 .s-footer__linklist {
    list-style: none;
    margin-left: 0;
 }
 
 .s-footer__linklist a {
    color: rgba(255, 255, 255, 0.4);
 }
 
 .s-footer__linklist li {
    padding-left: 0;
 }
 
 
 /* -------------------------------------------------------------------
  * ## subscribe form
  * ------------------------------------------------------------------- */
 .s-footer__subscribe .subscribe-form {
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 .s-footer__subscribe #mc-form {
    width: 100%;
 }
 
 .s-footer__subscribe #mc-form input[type="email"] {
    width: 100%;
    height: 5.4rem;
    font-size: 1.5rem;
    padding: 1.2rem 100px 1.2rem 60px;
    background: url(assets/images/icons/icon-mail.svg) 20px center no-repeat, rgba(0, 0, 0, 0.1);
    background-size: 24px 16px, auto;
    margin-bottom: 1.8rem;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
 }
 
 .s-footer__subscribe #mc-form input[type="email"]:hover, 
 .s-footer__subscribe #mc-form input[type="email"]:focus {
    color: #FFFFFF;
 }
 
 .s-footer__subscribe #mc-form input[type="email"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
 }
 
 .s-footer__subscribe #mc-form input[type="email"]:-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);  /* Firefox 18- */
 }
 
 .s-footer__subscribe #mc-form input[type="email"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);  /* Firefox 19+ */
 }
 
 .s-footer__subscribe #mc-form input[type="email"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
 }
 
 .s-footer__subscribe #mc-form input[type="email"].placeholder {
    color: rgba(255, 255, 255, 0.2) !important;
 }
 
 .s-footer__subscribe #mc-form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
    background: #0054a5;
    border-color: #0054a5;
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
 }
 
 .s-footer__subscribe #mc-form label {
    color: #FFFFFF;
    font-family: "metropolis-regular", sans-serif, sans-serif;
    font-size: 1.3rem;
    padding: 0 2rem;
 }
 
 .s-footer__subscribe #mc-form label i {
    padding-right: 6px;
 }
 
 
 /* -------------------------------------------------------------------
  * ## copyright
  * ------------------------------------------------------------------- */
 .s-footer__bottom .s-footer__copyright span {
    display: inline-block;
 }
 
 .s-footer__bottom .s-footer__copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.1);
 }
 
 .s-footer__bottom .s-footer__copyright span:last-child::after {
    display: none;
 }
 
 
 /* ------------------------------------------------------------------- 
  * ## go to top
  * ------------------------------------------------------------------- */
 .go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
 }
 
 .go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    background-image: url(assets/images/icons/icon-arrow-up.svg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
 .go-top a:hover, .go-top a:focus {
    color: #FFFFFF;
    background-color: #0054a5;
 }
 
 .go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 
 /* ------------------------------------------------------------------- 
  * responsive:
  * footer components
  * ------------------------------------------------------------------- */
 @media only screen and (max-width:1200px) {
    .s-footer__main > .row {
       max-width: 800px;
    }
 
    .s-footer__sitelinks, .s-footer__archives, .s-footer__social {
       margin-bottom: 3rem;
    }
 
    .s-footer__subscribe {
       clear: both;
    }
 
    .s-footer__bottom {
       text-align: center;
    }
 
 }
 
 @media only screen and (max-width:600px) {
    footer {
       padding-top: 7.8rem;
    }
 
    .s-footer__main .row {
       max-width: 480px;
    }
 
    .s-footer__main h4 {
       padding-bottom: 0;
       margin-bottom: 2.4rem;
    }
 
    .s-footer__main h4::after {
       display: none;
    }
 
    .s-footer__main .s-footer__linklist {
       width: 80%;
       margin: 0 auto;
    }
 
    .s-footer__main .s-footer__linklist li a {
       display: block;
       border-bottom: 1px solid rgba(255, 255, 255, 0.03);
       padding: .6rem 0;
    }
 
    .s-footer__main .s-footer__linklist li:first-child a {
       border-top: 1px solid rgba(255, 255, 255, 0.03);
    }
 
    .s-footer__sitelinks, .s-footer__archives, .s-footer__social, .s-footer__subscribe {
       text-align: center;
    }
 
    .s-footer__sitelinks, .s-footer__archives, .s-footer__social {
       margin-bottom: 4.2rem;
    }
 
    .s-footer__main .row [class*="col-"]:nth-child(2) {
       display: none;
    }
 
    .s-footer__bottom {
       padding-bottom: .6rem;
    }
 
    .s-footer__bottom .s-footer__copyright span {
       display: block;
    }
 
    .s-footer__bottom .s-footer__copyright span::after {
       display: none;
    }
 
 }
 